@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<div>
    <p class="text-justify">
        Ce site a pour but de pouvoir trouver des jeux de société selon vos envies et (lorsque vous avez un compte) ajouter vos jeux présent dans votre ludothèque pour les trouver plus rapidement.
    </p>
</div>
